<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3P4t5g6dSiuu1HTeljU_lsVzjqpSinoc">
    </script>
  </head>

  <body>
    <div id="map-canvas"></div>
  </body>
</html>