      <div class="row">
        <div class="col-md-12 center">
          <p class="lead">I've found something.</p>
          <button type="button" name="found" id="found_button" class="btn btn-primary btn-lg">My Page</button>
        </div>

        <div class="col-md-12 center">
          <p class="lead">I'm hunting.</p>
          <button type="button" name="hunt" id="hunt_button" class="btn btn-primary btn-lg">Show me</button>
        </div>
      </div>

