<html>
<head>
  <meta charset="UTF-8">
  <title>Login to Wild Diner</title>

</head>
<body>
  <!-- header -->
  <div class="container">

<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Wild Diner</h2>
    </div>
    <div class="col-md-12">
      <!-- <nav class="topnav"> -->
        <!-- <ul> -->
          <!-- <a href=""><li>Hunt-or-Found</li></a> -->
          <!-- <a href=""><li>Sightings</li></a><a href=""><li>My Sightings</li></a> -->
        <!-- </ul> -->
      <!-- </nav> -->
    </div>
  </div>    
</div>

    <!-- Begin page content -->

    <!-- Error message renders if login fails -->
    <% if @error %>
      <p style='color: red;'>Try again</p>
    <% end %>


    <!-- Form to login -->
    <form role="form" id="login_form" action="/session" method="POST">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="login_username" placeholder="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  name="password" class="form-control" id="login_password" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary" name="login_button" id="login_submit">Submit</button>
      <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

    </form>
    <img alt="epazote" src="/assets/epazote-300.png" class="scatter_img" id="epazote"/>
    <img alt="wild_ginger" src="/assets/wild-ginger.png" class="scatter_img" id="wildginger"/>


  </div>

  <!-- end page content -->

	<%= render partial: "shared/footer" %>

</body>
</html>
