<p class="lead">My Sightings</p>
<ul id="sightings_ul"></ul>
<!-- <p class="lead">I found something!</p> -->
<button type="submit" class="btn btn-primary btn-lg" id="sighting_new_btn">I found something!</button>
