<div class="footer">
  <div class="container">
    <nav>
      <ul>
       <a href=""><li id="botnav_contact">Contact Wild Diner</li></a>
       <a href="/signout"><li id="botnav_logout">Log Out</li></a>
      </ul>
    </nav>
  </div>
</div>
