  <!-- contact modal -->
<div class="modal fade" id="contactModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Contact Wild Diner</h4>
      </div>
      <div class="modal-body" id="contact_modal_body">
        <p>Wild Diner was developed as a project for the General Assembly Web Development Immersive.  
        <a href="mailto:lisa@lisajaynewells.com" id="mailto">  Click here to send us a message.</a></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="footer">
  <div class="container">
    <nav>
      <ul>
       <a href="/contact"><li id="botnav_contact">Contact Wild Diner</li></a>
       <a href="/signout"><li id="botnav_logout">Log Out</li></a>
      </ul>
    </nav>
  </div>
</div>
