<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Wild Diner</h2>
    </div>
    <div class="col-md-12">
      <nav class="topnav">
        <ul>
<!--           <a href=""><li>Hunt-or-Found</li></a>
 -->          <a href=""><li id="topnav_sightings">Sightings</li></a><a href=""><li id="topnav_my_sightings">My Sightings</li></a>
        </ul>
      </nav>
    </div>
  </div>    
</div>
