.scatter_img {
  position: relative;
  z-index: -1;
}

#walnut {
  left: -100px;
  top: -30px;
}

#epazote {
  left: -180px;
  top: -50px;
}

#wildginger {
  right: -492px;
  top: -134px;
  width: 160px;
}

#purslane {
  left: 250px;
  top: 40px;
  width: 400px;
}

#strawberry {
  left: -100px;
  top: -30px;
  width: 160px;
}

