.modal-content {
  background-color: #237795;
  color: #D7DEA0;
}

.modal-content img {
  width: 200px;
  border-radius: 6px;
}

.modal-header {
border-bottom: 1px solid #e44424;
}

.modal-body {
  overflow: hidden;
}

#pinModal img {
  width: 200px;
  border-radius: 8px;
  float: left;
  margin-right: 10px;
} 

#contact_modal_body p {
  color: #B7BD88;
}

#contact_modal_body p a {
  color: #D7DEA0;
  text-decoration: none;
}
#contact_modal_body p a:hover {
  color: #e44424;
  text-decoration: none;
}
